@import "../App.scss";

ul.left-nav {
  background-color: $dark-blue;
  color: $white;
  height: 100%;
  list-style-type: none;
  padding: 1rem;

  a, a:link, a:active, a:visited {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
