$medium-blue: rgb(25, 156, 193);
$dark-blue: rgb(31, 72, 100);
$medium-gray: rgb(229, 229, 229);
$light-gray: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$dark-gray: rgb(102, 102, 102);

.App.container-fluid {
  padding: 0;
}
