@import "~bootstrap/scss/bootstrap";

@import './colors.scss';

.App.container-fluid {
  background-color: $light-gray;
  padding: 0;
}

.page-header {
  background-color: $medium-blue;
  color: $white;
  display: flex;
  margin-bottom: 0;
  padding: .5rem 1rem;

  .hamburger {
    background: url('./hamburger.svg');
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    &.show-false {
      background: url('./x.svg');
    }
  }
}

@include media-breakpoint-down(xs) {
  .left-nav-container {
    position: absolute;
    z-index: 1;
  }

  .movie-list-container {
    position: relative;
    z-index: 0;
  }
}

@include media-breakpoint-up(sm) {
  .left-nav-container {
    position: relative;
  }
}
